#!/bin/bash

set -e
G="\e[32m"
E="\e[0m"

CERTGEN=<CERT>

if ! grep -q 'Ubuntu' /etc/issue
  then
    echo -----------------------------------------------
    echo "Not Ubuntu? Could not find Codename Ubuntu in lsb_release -a. Please switch to Ubuntu."
    echo -----------------------------------------------
    exit 1
fi

## Generate cert with mkcert
mkcert -install
cd /alphabravo/misc/certs
mkcert "*.<LAB_SERVER_IP>.nip.io"
cd ~
#docker run -v /alphabravo/misc/certs:/certs -e SSL_DNS="*.<LAB_SERVER_IP>.nip.io" -e SSL_IP="<LAB_SERVER_IP>" -e SSL_EXPIRE="90" -e SSL_SUBJECT="<LAB_SERVER_IP>.nip.io" paulczar/omgwtfssl
#sudo cat /alphabravo/misc/certs/cert.pem /alphabravo/misc/certs/ca.pem > /alphabravo/misc/certs/fullchain.pem
sudo cat /alphabravo/misc/certs/_wildcard.<LAB_SERVER_IP>.nip.io.pem ~/.local/share/mkcert/rootCA.pem /alphabravo/misc/certs/_wildcard.<LAB_SERVER_IP>.nip.io-key.pem > /alphabravo/misc/certs/fullchain.pem
sudo cp /alphabravo/misc/certs/_wildcard.<LAB_SERVER_IP>.nip.io.pem /alphabravo/misc/certs/cert.pem
sudo cp /alphabravo/misc/certs/_wildcard.<LAB_SERVER_IP>.nip.io-key.pem /alphabravo/misc/certs/key.pem


## Install Code Server
curl -fsSL -o /tmp/code-server_<CODE_VERSION>_amd64.deb https://github.com/coder/code-server/releases/download/v<CODE_VERSION>/code-server_<CODE_VERSION>_amd64.deb
sudo dpkg -i /tmp/code-server_<CODE_VERSION>_amd64.deb
sudo systemctl stop code-server@<USER>
sudo rm /lib/systemd/system/code-server@.service
sudo touch /lib/systemd/system/code-server@.service
sudo chown ubuntu:ubuntu /lib/systemd/system/code-server@.service
sudo cat >> /lib/systemd/system/code-server@.service<< EOF
[Unit]
Description=code-server
After=network.target

[Service]
User=root
Group=root
Type=exec
Environment=PASSWORD=<CODE_PASSWORD>
ExecStart=/usr/bin/code-server --bind-addr 0.0.0.0:8080 --user-data-dir /alphabravo/misc/code-server --auth password --cert-host code.<PROXY_IP>.nip.io --cert /alphabravo/misc/certs/cert.pem --cert-key /alphabravo/misc/certs/key.pem /alphabravo
Restart=always

[Install]
WantedBy=default.target
EOF
sudo systemctl enable --now code-server@<USER>

## Install codelab extension
FILE=/alphabravo/misc/code-server/extensions/codelab/codelab-0.0.1.vsix
if [ -f "$FILE" ]; then
    echo "$FILE exists. No need to install CodeLab again."
else 
    echo "$FILE does not exist. Installing Codelab."
    unzip /alphabravo/misc/code-server/codelab.zip -d /alphabravo/misc/code-server/extensions
    sudo systemctl restart code-server@<USER>
fi

## Install K3s binary
echo "Installing K3s..."
curl -fsSL -o k3s https://github.com/k3s-io/k3s/releases/download/<K3S_VERSION>/k3s
chmod +x k3s
sudo mv k3s /usr/local/bin

## Install RKE2 binary
echo "Installing RKE2..."
curl -fsSL -o rke2 https://github.com/rancher/rke2/releases/download/<RKE2_VERSION>/rke2.linux-amd64
chmod +x rke2
sudo mv rke2 /usr/local/bin

## Install k3d binary
echo "Installing K3d..."
wget -q -O - https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | TAG=<K3D_VERSION> bash

## Install RKE binary
echo "Installing RKE..."
curl -fsSL -o rke https://github.com/rancher/rke/releases/download/<RKE_VERSION>/rke_linux-amd64
chmod +x rke
sudo mv rke /usr/local/bin

## Install Helm
echo "Installing Helm..."
curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3  > /dev/null 2>&1
chmod 700 get_helm.sh  > /dev/null 2>&1
./get_helm.sh  > /dev/null 2>&1
rm ./get_helm.sh  > /dev/null 2>&1

## Install Kubectl
echo "Installing kubectl..."
curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl

## Run Rancher container
echo "Starting Rancher..."
docker-compose -f /alphabravo/misc/rancher/docker-compose.yaml up -d  > /dev/null 2>&1

## Run Portainer container
echo "Starting Portainer..."
docker-compose -f /alphabravo/misc/portainer/docker-compose.yaml up -d  > /dev/null 2>&1

## Load Labs
echo "Loading Labs..."
LABS=/alphabravo/labs/public/README.md
if [ ! -f $LABS ]; then
    git clone --depth 1 https://github.com/AlphaBravoCompany/ab-training-labs.git /alphabravo/labs/public  > /dev/null 2>&1
else 
    cd /alphabravo/labs/public
    git fetch origin master
    git reset --hard origin/master
fi

## Replace LABSERVERNAME with actual host DNS name
echo "Updating Labs..."
find /alphabravo/labs/ -name '*.md' -exec sed -i -e 's/LABSERVERNAME/<LAB_SERVER_IP>.nip.io/g' {} \;
find /alphabravo/labs/ -name '*.yaml' -exec sed -i -e 's/LABSERVERNAME/<LAB_SERVER_IP>.nip.io/g' {} \;
find /alphabravo/labs/ -name '*.yml' -exec sed -i -e 's/LABSERVERNAME/<LAB_SERVER_IP>.nip.io/g' {} \;