version: '3'

services:
  # Portainer
  portainerservice:
    image: portainer/portainer-ce
    container_name: portainer
    volumes:
      - /ab/misc/portainer/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /alphabravo/misc/certs/_wildcard.$lab_server_ip.nip.io.pem:/certs/fullchain.pem
      - /alphabravo/misc/certs/_wildcard.$lab_server_ip.nip.io-key.pem:/certs/privkey.pem
      - /alphabravo/misc/portainer/portainer-password.txt:/portainer-password.txt
    ports:
      - "9000:9443"
    restart: unless-stopped
    command: '--admin-password-file=/portainer-password.txt --ssl --sslcert /certs/fullchain.pem --sslkey /certs/privkey.pem'