---
version: "2.1"
services:
  code-server:
    image: rancher/rancher:<RANCHER_VERSION>
    container_name: rancher
    privileged: true
    volumes:
      - rancher:/var/lib/rancher
      - /alphabravo/misc/certs/proxy_cert.pem:/etc/rancher/ssl/cert.pem
      - /alphabravo/misc/certs/proxy_key.pem:/etc/rancher/ssl/key.pem
      - /alphabravo/misc/certs/proxy_ca.pem:/etc/rancher/ssl/cacerts.pem
    ports:
      - 12080:80
      - 12443:443
    restart: unless-stopped
    environment: 
      - CATTLE_BOOTSTRAP_PASSWORD=<RANCHER_PASSWORD>
volumes:
  rancher: 